body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #455A64;
    font-weight: 400;
    min-width: 320px;
    margin: 0;
}
a,
a:hover {
    color: #fff;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    position: relative;
}
.container {
    max-width: 65%;
    margin: 0 auto;
}
/* ============================slide out menu ============================ */

.menu-icon {
    height: 25px;
    width: 59px;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1000;
}
.menu-icon:hover {
    cursor: pointer;
}
.menu-line {
    height: 4px;
    width: 50px;
    background-color: #181818;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s
}
.menu-icon:hover .menu-line {
    width: 40px;
}
.menu-line::before {
    content: "";
    height: 4px;
    width: 40px;
    background-color: #181818;
    position: absolute;
    margin-top: 10px;
    transition: all .3s
}
.menu-icon:hover .menu-line::before {
    width: 50px;
}
.menu-line::after {
    content: "";
    height: 4px;
    width: 40px;
    background-color: #181818;
    position: absolute;
    margin-top: -10px;
    transition: all .3s
}
.menu-icon:hover .menu-line::after {
    width: 50px;
}
.main-menu {
    height: 100vh;
    width: 250px;
    background-color: #181818;
    -webkit-clip-path: polygon(0 0, 100% 0, 0% 100%, 0% 100%);
    position: fixed;
    top: 0;
    left: -300px;
    transition: all .5s ease-in-out;
    opacity: 0.9;
    z-index: 100000;
}
.boxed-item {
    font-family: "Open Sans";
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #fff;
    box-sizing: border-box;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 70px;
}
.logo-bold {
    font-weight: 800;
}
.logo-title {
    font-family: "Open Sans";
    font-weight: 300;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    margin-top: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul li {
    margin: 20px;
}
ul li a {
    color: #fff;
}
.line {
    height: 2px;
    width: 150px;
    background-color: #fff;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s;
}
ul li:hover .line {
    width: 180px;
}
.close-btn {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%);
}
.close-btn:hover {
    cursor: pointer;
}
/* ============================header============================ */

.header {
    background: url(../img/header-img.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
}
.section-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-center .boxed-item {
    font-size: 40px;
    font-family: "Open Sans";
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 0px;
}
.section-center .logo-title {
    word-spacing: 10px;
}
.social-icon {
    margin-top: 140px;
    text-align: center;
}
.social-icon a {
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
    line-height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 5px;
}
.social-icon a:hover {
    color: #000;
    background: #fff;
    border-radius: 50%;
    transition: none;
}
.mouse-icon {
    height: 35px;
    width: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    z-index: 111;
}
.mouse-icon:hover {
    cursor: pointer;
}
.scroll-icon {
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%);
}
.scroll-animation {
    animation: scroll-down 1s infinite;
}
@-webkit-keyframes scroll-down {
    0% {
        top: 5%;
    }
    100% {
        top: 75%;
    }
}
/* =======================about======================= */

.about,
.portfolio {
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    background: #f2f2f2;
}
.row {
    display: table-row;
}
.about-left-col {
    display: table-cell;
    max-width: 450px;
    vertical-align: middle;
    text-align: center;
}
.slider-item img {
    margin-left: 100px;
}
.slider-item p {
    padding-left: -100px;
    margin-top: -50px;
    font-size: 20px;
    color: #455A64;
    font-weight: 700;
}
.about-right-col {
    display: table-cell;
    padding: 90px 70px;
}
.about-right-col .text {
    margin-bottom: 50px;
}
.title {
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 50px;
    word-spacing: 5px;
}
.text {
    font-family: "Roboto";
}
.about .text {
    width: 80%;
}
.about-button {
    color: #455A64;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #455A64;
    cursor: pointer;
    transition: all 1s;
}
.about-button:hover {
    background: #455A64;
    color: #fff;
}
.slick-prev::before {
    margin-right: -200px;
}
.slick-next::before {
    margin-left: -200px;
}
/* ===================skills=================== */

.skills {
    text-align: center;
}
.skills .title {
    margin-top: 90px;
}
.skills-section {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: left;
}
.skills-section:last-child {
    margin-right: 100px;
}
.skills-item {
    margin: 0 10px 90px 0;
    align-items: center;
    flex-basis: 210px;
}
.skills-item p {
    margin: 5px 0;
}
/* ==================portfolio================== */

.portfolio {
    text-align: center;
    background-color: #f2f2f2;
}
.portfolio .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio .title,
.contact .title {
    margin-top: 90px;
    margin-bottom: 0;
}
.portfolio-item {
    float: left;
    width: 240px;
    margin-top: 90px;
    overflow: hidden;
    position: relative;
}
.portfolio-item:nth-child(3n) {
    margin-right: 0;
}
.browser {
    opacity: 0.1;
}
.portfolio-button {
    color: #455A64;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #455A64;
    transition: all .7s;
    cursor: pointer;
    transition: all 1s;
    margin-top: 90px;
    margin-bottom: 90px;
}
.portfolio-button:hover {
    background: #455A64;
    color: #fff;
}
.portfolio-hidden {
    display: none;
}
/* view */

.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask,
.view .content {
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 50px;
    left: 20px;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font: 18px bold"Roboto", Helvetica, sans-serif;
    line-height: 18px;
    font-weight: 500;
    margin-top: 35px;
}
.view p {
    font: 14px bold"Roboto", Helvetica, sans-serif;
    line-height: 18px;
    position: relative;
    color: #000;
    margin-top: 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 12px 45px;
    background: #455A64;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    font: 18px bold"Roboto", Helvetica, sans-serif;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}
.view-first .mask {
    opacity: 0;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover .browser {
    opacity: 1;
    transition: 1s;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
/* end view */

/* ==================contact================== */

.contact {
    text-align: center;
}
.contact h3 {
    margin-top: 90px;
}
.contact h4 a {
    color: #455A64;
}
.contact-left-col {
    display: table-cell;
    width: 50%;
}
.contact-right-col {
    display: table-cell;
    width: 40%;
}
form {
    display: block;
    position: relative;
    width: 400px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    padding: 30px;
    text-align: left;
}
label {
    display: block;
    position: relative;
    top: -20px;
    left: 0;
    color: #999;
    font-size: 16px;
    z-index: 1;
    transition: all 0.3s ease;
}
input,
textarea {
    display: block;
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    z-index: 2;
}
input:focus,
input:valid,
textarea:focus {
    outline: none;
    border-bottom: 1px solid #455A64;
}
input:focus + label,
input:valid + label {
    top: -40px;
    font-size: 12px;
    font-weight: bold;
    color: #455A64;
}
textarea {
    resize: none;
    overflow: hidden;
}
textarea:focus + label {
    top: -60px;
    font-size: 12px;
    font-weight: bold;
    color: #455A64;
}
.divider {
    position: relative;
    height: 30px;
    width: auto;
    background: none;
}
.form-button {
    color: #455A64;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #455A64;
    cursor: pointer;
    background: #fff;
    float: right;
    font-size: 18px;
    font-weight: bold;
    transition: all 1s;
}
.contact-social-icon {
    margin-top: 30px;
}
.contact-social-icon a {
    color: #455A64;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
    line-height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0 5px;
}
.contact-social-icon a:hover {
    color: #fff;
    background: #455A64;
    border-radius: 50%;
    transition: none;
}
/* @media */

@media only screen and (max-width: 991px) {
    .about .text {
        width: 100%;
    }
}
@media only screen and (max-width: 860px) {
    .about-left-col,
    .about-right-col {
        display: block;
    }
    .about-left-col {
        margin: 0 auto;
        max-width: 340px;
    }
    .about-right-col {
        text-align: center;
    }
}
@media only screen and (max-width: 750px) {
    .contact .row {
        display: block;
    }
    .contact-left-col,
    .contact-right-col {
        display: block;
        margin: 0 auto;
    }
    .contact-right-col {
        width: 80%;
        margin-top: 50px;
    }
    form {
        padding: 10px;
    }
    .form-button {
        display: block;
        margin: 20px auto;
        float: none;
    }
    .contact h3 {
        margin-top: 20px;
    }
    .contact-social-icon {
        margin-top: 20px;
    }
    .portfolio .container {
        justify-content: center;
    }
}
@media only screen and (max-width: 650px) {
    .skills .title {
        margin: 50px 50px 20px 50px;
    }
    .skills-section {
        justify-content: center;
    }
    .menu-icon {
        right: 90px;
    }
    .about-left-col {
        display: none;
    }
    form {
        padding: 0;
        margin: 0;
        width: 280px;
    }
}